body{
    background: url('../img/background.png') repeat-x #EE8000;
}
.view {
    background-color: #FFFFFF;
    width: 905px;
    height: 630px;
    margin:auto;
    border-radius: 9px; /* CSS 3 */
    -o-border-radius: 9px; /* Opera */
    -icab-border-radius: 9px; /* iCab */
    -khtml-border-radius: 9px; /* Konqueror */
    -moz-border-radius: 9px; /* Firefox */
    -webkit-border-radius: 9px; /* Safari */
    box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
}
.top{
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #B8E3FF;
    height: 119px;
}
.title_left{
    height: 75px;
    padding-top: 30px;
    padding-left: 40px;
    background: url('../img/bar_title_left.png') repeat-x;
    width: 510px;
    float: left;
}
.title_center {
    background: url('../img/bar_title_center.png') no-repeat;
    height: 75px;
    width: 136px;
    float: left;
}
.title_right {
    background: url('../img/bar_title_right.png') repeat-x;
    height: 75px;
}
.title_left span{
    font-size: 22px;
    color: #EB7813;
    font-family: "Cooper Std";
    font-style: italic;
}
.conteiner {
    background-color: #FF8300;
    width: 344px;
    height: 390px;
    padding-top:10px;
    margin-left: 30px;
    -webkit-border-bottom-right-radius: 9px;
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-bottomleft: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}
.bnt_atendimento {
    cursor: pointer;
    padding-top:20px;
}
.footer {
    background: url('../img/background_home.png') #FFFFFF right no-repeat;
}
.sub_top {
    border-top: dotted #FFC245;
    border-bottom: dotted #FFC245;
    width: 325px;
    height: 170px;
    background-color: #FF9500;
    margin-left:10px;
}
.img_home {
    background: url('../img/img_home.png') no-repeat;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: 10px;
    float:left;
}
.text_home {
    margin-top: 15px;
    float: left;
    width: 180px;
    margin-left: 10px;
    height: 100px;
}
.text_home span{
    text-align: justify;
    line-height: 10px;
    font-size: 12;
    font-family: "Simplified Arabic";
    margin-top: 25px;
    margin-left: 10px;
    color: #FFFFFF;
}
.text_cad {
    width: 300px;
    margin-left: 20px;
}
.text_cad span {
    text-align: justify;
    line-height: 10px;
    font-size: 12;
    font-family: "Simplified Arabic";
    margin-left: 10px;
    color: #FFFFFF;
}
.btn {
    float: right;
    text-decoration: none;
}
.bnt_save {
    text-decoration:none;
    background: url('../img/button_save.png') no-repeat;
    width: 130px;
    height: 40px;
}
.img_cad_home {
    background: url('../img/img_text.png');
    width: 132px;
    height: 135px;
    float:left;
}
.form_cad {
    padding-left: 15px;
    padding-right: 15px;
}
.form_cad label{
    padding-left: 7px;
    width: 100%;
    color: #FFFFFF;
    font-size: 12;
    font-family: "Simplified Arabic";
}
.form_cad input{
    padding-bottom: 5px;
    width: 95%;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.form_cad a {
    padding-top: 10px;
}